@charset "utf-8";
@-webkit-keyframes wiggle {
0%, 40%, 80% {
-webkit-transform:translateY(0)
}
20%, 60%, to {
-webkit-transform:translateY(-10px)
}
}
@-webkit-keyframes swipedown {
0% {
-webkit-transform:translateY(0);
opacity:0
}
to {
	-webkit-transform: translateY(-10px);
	opacity: 1
}
}
@-webkit-keyframes corvipreload {
0%, 40%, 80% {
-webkit-transform:scale(1)
}
20%, 60%, to {
-webkit-transform:scale(1.05)
}
}
@keyframes slideInFromBottom {
0% {
transform:translateY(100%)
}
to {
	transform: translateY(0)
}
}
::-webkit-scrollbar {
width:7px
}
::-webkit-scrollbar-track {
border-radius:10px
}
::-webkit-scrollbar-thumb {
background:rgba(0,0,0,.5);
border-radius:3px;
height:130px
}
::-webkit-scrollbar-thumb:hover {
background:rgba(0,0,0,.5)
}
.descriptionbox h3, .documentdownload h4, .icon-up-open-big {
	display: inline-block
}
.icon-up-open-big:after {
	content: "a";
	font-size: 2.5em;
	display: block;
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
	color: #000;
	-webkit-transition: color .3s;
	transition: color .3s
}
.icon-up-open-big:hover:after, a {
	color: #fff
}
.scroll-icon {
	position: absolute;
	left: 50%;
	bottom: 30px;
	padding: 0 10px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}
.clearfix:after, .clearfix:before {
	content: "";
	display: table
}
.clearfix:after {
	clear: both
}
.l-left {
	float: left
}
.l-right {
	float: right
}
.end {
	margin-top: 30px;
	font-size: 3em;
	font-weight: 700;
	opacity: 0;
	-webkit-transform: translateY(300px);
	transform: translateY(300px);
	-webkit-transition: opacity, -webkit-transform 1s;
	transition: opacity, transform 1s;
	transition: opacity, transform 1s, -webkit-transform 1s;
	-webkit-transition-delay: 1s;
	transition-delay: 1s
}
* {
	margin: 0;
	padding: 0
}
html {
	font-size: 62.5%
}
body {
	color: #000;
	letter-spacing: .1em
}
a {
	text-decoration: none
}
li, ul {
	list-style-type: none
}
*, button, input {
	font-family: 'HelveticaNeueLTPro-UltraLight', Arial, sans-serif
}
.header-top {
	background: #fff;
	padding: 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
	box-sizing: border-box
}
h1 {
	margin-bottom: 30px
}
h1 a {
	display: block;
	padding: 0 10px
}
.toggle-menu {
	width: 50px;
	height: 50px;
	display: inline-block;
	position: absolute;
	top: 0;
}
.toggle-menu i {
	position: absolute;
	display: block;
	height: 2px;
	background: #aaa;
	width: 30px;
	left: 10px;
	-webkit-transition: all .3s;
	transition: all .3s
}
.toggle-menu i:nth-child(1) {
	top: 16px
}
.toggle-menu i:nth-child(2) {
	top: 24px
}
.toggle-menu i:nth-child(3) {
	top: 32px
}
.open-menu i:nth-child(1) {
	top: 25px;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg)
}
.open-menu i:nth-child(2) {
	background: 0 0
}
.open-menu i:nth-child(3) {
	top: 25px;
	-webkit-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg)
}
nav {
	height: 0;
	opacity: 0;
	box-sizing: border-box;
	background: rgba(0,47,77,.25);
	position: fixed;
	top: 70px;
	width: 100%;
	-webkit-transition: all 3s;
	transition: all 3s
}
.open-menu~nav {
	opacity: 1;
	padding: 80px 0;
	z-index: 15;
	height: calc(90vh - 70px)
}
nav ul {
	padding: 0 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}
nav li {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}
nav li a {
	font-size: 2em;
	display: block;
	padding: 30px;
	text-align: center;
	-webkit-transition: background .3s;
	transition: background .3s
}
body.fp-viewing-fifthSection-1 #menu li:nth-child(5) a, nav li:nth-child(odd) a {
	background: #962d3e
}
nav li:nth-child(even) a {
	background: #aa3346
}
nav li:nth-child(odd) a:hover {
	background: #9e2f41
}
nav li:nth-child(even) a:hover {
	background: #c53c52
}
body.fp-viewing-fifthSection-1 #menu li:last-child a, nav li.active a {
	background: #453659
}
.project-item img {
	margin: auto
}
.toplogo {
	left: 0;
	transition: all .5s ease
}
.toplogocenter {
	left: 50%;
	transform: translateX(-50%)
}
section {
	text-align: center
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'HelveticaNeueLTPro-UltraLight', Arial, sans-serif
}
h1 {
	font-size: 2.8em
}
h2 {
	text-transform: capitalize;
	font-size: 2em;
	margin-bottom: 20px
}
h3 {
	font-weight: 300;
	font-size: 1.6em;
	line-height: 1.4
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: #fff;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	background: 0 0;
	box-sizing: border-box;
	border: 1px solid #24221f
}
.toggle-button {
	margin: 5px 0;
	border-radius: 20px;
	border: 2px solid #d0d0d0;
	height: 24px;
	cursor: pointer;
	width: 50px;
	display: inline-block;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none
}
.toggle-button span {
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 100%;
	width: 26px;
	height: 26px;
	background-color: #fff;
	float: left;
	margin: -3px 0 0 -3px;
	border: 2px solid #d0d0d0;
	transition: left .3s
}
.toggle-button-selected {
	background-color: #83b152;
	border: 2px solid #7da652
}
.toggle-button-selected span {
	left: 26px;
	top: -2px;
	margin: 0;
	border: 0;
	width: 24px;
	height: 24px;
	box-shadow: 0 0 4px rgba(0,0,0,.1)
}
.center {
	text-align: center
}
.hm-banner {
	width: 55rem;
	height: 55rem;
	margin: auto;
	position: relative;
	margin-top: 16rem
}
.hm-banner [class*=corvibox-] {
	position: absolute;
	top: 0;
	text-align: center
}
.hm-banner [class*=corvibox-] h4 {
	font-weight: 100;
	font-size: 3.8rem;
	color: #000
}
.corvibox-flat {
	z-index: 1
}
.corvibox-downlight {
	z-index: 3;
	transform: translateY(40px);
	-webkit-transform: translateY(40px)
}
.corvibox-spot {
	z-index: 2
}
.corvibox-tube {
	z-index: 7;
	margin: 30px 0
}
.section {
	text-align: left;
	color: #000
}
#section1 .container, #section2 .container, .productdesbox {
	padding-top: 100px
}
p {
	font-size: 18px
}
.products {
	margin-bottom: 50px;
	text-align: center
}
.products h2 small {
	position: relative;
	font-size: 55%;
	top: -15px;
	color: red
}
.products h2 span {
	font-size: 80%;
	position: relative;
	top: -2px
}
.products h2 a {
	text-decoration: none;
	color: inherit
}
.products img {
	margin: 15px auto
}
.products ul {
	list-style: none;
	padding: 0
}
.products ul li {
	display: inline-block;
	padding: 6px 15px;
	font-size: 16px;
	border-right: 1px solid #ddd
}
.products ul li:last-child {
	border-right: none
}
.btn, .form-control {
	border-radius: 20px
}
.form-control:focus {
	border-color: #ccc;
	box-shadow: none
}
.toggle-button {
	position: relative;
	left: -15px
}
.signupbox .btn {
	padding: 0;
	line-height: 2.4;
	width: 70px
}
.corvipopupcontent {
	padding: 3%
}
.corvipopupcontent ul {
	padding-left: 20px
}
.corvipopupcontent ul li {
	list-style: disc;
	font-size: 16px
}
#tagline, form {
	width: 100%;
	text-align: center
}
form {
	max-width: 500px;
	margin: auto
}
.products p span {
	font-size: 20px!important;
	line-height: 1.8
}
#tagline {
	position: absolute;
	top: -10%
}
#tagline h2 {
	font-size: 2.5em
}
.corvibox-flat {
	-webkit-transform: translate3d(-130%, 0, 0);
	-moz-transform: translate3d(-130%, 0, 0);
	-ms-transform: translate3d(-130%, 0, 0);
	-o-transform: translate3d(-130%, 0, 0);
	transform: translate3d(-130%, 0, 0);
	-webkit-transition: transform 1s, opacity 1s;
	-moz-transition: transform 1s, opacity 1s;
	-ms-transition: transform 1s, opacity 1s;
	-o-transition: transform 1s, opacity 1s;
	transition: transform 1s, opacity 1s;
	opacity: 0
}
.corvibox-flat.active {
	-webkit-transition: transform 1.2s, opacity 1.5s;
	-moz-transition: transform 1.2s, opacity 1.5s;
	-ms-transition: transform 1.2s, opacity 1.5s;
	-o-transition: transform 1.2s, opacity 1.5s;
	transition: transform 1.2s, opacity 1.5s;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(-52%, 0, 0);
	opacity: 1
}
.corvibox-downlight {
	transform: scale(.5)
}
.corvibox-downlight.active {
	transform: scale(1);
	transition: transform 1s, opacity 1s;
	opacity: 1
}
.corvibox-downlight, .corvibox-spot, .corvibox-tube, .corvibox-tube.active {
	transition: transform 1s, opacity 1s;
	opacity: 0
}
.corvibox-tube {
	transform: scale(1) translate3d(-25.5%, 300%, 0)
}
.corvibox-tube.active {
	transform: scale(1) translate3d(-25.5%, 440%, 0);
	opacity: 1
}
.corvibox-spot {
	-webkit-transform: translate3d(130%, 0, 0);
	-moz-transform: translate3d(130%, 0, 0);
	-ms-transform: translate3d(130%, 0, 0);
	-o-transform: translate3d(130%, 0, 0);
	transform: translate3d(130%, 0, 0);
	-webkit-transition: transform 1s, opacity 1s;
	-moz-transition: transform 1s, opacity 1s;
	-ms-transition: transform 1s, opacity 1s;
	-o-transition: transform 1s, opacity 1s
}
.corvibox-spot.active {
	webkit-transition: transform 1.2s, opacity 1.5s;
	-moz-transition: transform 1.2s, opacity 1.5s;
	-ms-transition: transform 1.2s, opacity 1.5s;
	-o-transition: transform 1.2s, opacity 1.5s;
	transition: transform 1.2s, opacity 1.5s;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(54%, 0, 0);
	opacity: 1
}
.productdesbox, .productmainhead {
	-webkit-transition: all .4s ease-out .5s;
	-moz-transition: all .4s ease-out .5s;
	-o-transition: all .4s ease-out .5s;
	transition: all .4s ease-out .5;
	margin-top: 50px;
	opacity: 0
}
.productdesbox.active, .productmainhead.active {
	-webkit-transition: all 1.5s ease .5s;
	-moz-transition: all 1.5s ease .5s;
	-o-transition: all 1.5s ease .5s;
	transition: all 1.5s ease .5s;
	margin-top: 0;
	opacity: 1
}
#product1, #product2, #product3, #product4, #product5, .lightproduct, .slimproduct {
	-webkit-transform: translate3d(130%, 0, 0);
	-moz-transform: translate3d(130%, 0, 0);
	-ms-transform: translate3d(130%, 0, 0);
	-o-transform: translate3d(130%, 0, 0);
	transform: translate3d(0, 140%, 0);
	-webkit-transition: transform 1s, opacity 1s;
	-moz-transition: transform 1s, opacity 1s;
	-ms-transition: transform 1s, opacity 1s;
	-o-transition: transform 1s, opacity 1s;
	transition: transform 1s, opacity 1s;
	opacity: 0
}
#product1, #product3, #product5, .lightproduct {
	-webkit-transform: translate3d(-130%, 0, 0);
	-moz-transform: translate3d(-130%, 0, 0);
	-ms-transform: translate3d(-130%, 0, 0);
	-o-transform: translate3d(-130%, 0, 0)
}
#product1.active, #product2.active, #product3.active, #product4.active, #product5.active, .lightproduct.active, .signupbox, .signupbox.active, .slimproduct.active {
	-webkit-transition: transform 1.2s, opacity 1.5s;
	-moz-transition: transform 1.2s, opacity 1.5s;
	-ms-transition: transform 1.2s, opacity 1.5s;
	-o-transition: transform 1.2s, opacity 1.5s;
	transition: transform 1.2s .2s, opacity 1.5s .2s;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1
}
.signupbox, .signupbox.active {
	transform: translate3d(0, 20px, 0);
	-webkit-transition: transform 1s, opacity 1s;
	-moz-transition: transform 1s, opacity 1s;
	-ms-transition: transform 1s, opacity 1s;
	-o-transition: transform 1s, opacity 1s;
	transition: transform 1s, opacity 1s;
	opacity: 0
}
.signupbox.active {
	-webkit-transition: transform 1.2s, opacity 1.5s;
	-moz-transition: transform 1.2s, opacity 1.5s;
	-ms-transition: transform 1.2s, opacity 1.5s;
	-o-transition: transform 1.2s, opacity 1.5s;
	transition: transform 1.2s, opacity 1.5s;
	transform: translate3d(0, 0, 0);
	opacity: 1
}
@media screen and (max-width:767px) {
nav ul {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}
nav li {
	margin-top: 1px
}
nav li a {
	font-size: 1.5em
}
.scroll-icon {
	display: none
}
}
@media screen and (max-width:480px) {
html {
	font-size: 50%
}
p {
	font-size: 16px
}
body {
	width: 100%
}
.open-menu~nav {
	padding: 20px 0
}
nav li a {
	padding: 3px
}
header .toplogo {
	text-align: center;
	margin-top: 6px
}
header .toplogo img {
	max-width: 150px;
	padding: 10px 0 0
}
.toggle-menu {
	position: absolute;
	
}
.hm-banner {
	width: 24rem;
	height: 24rem
}
.hm-banner [class*=corvibox-] h4 {
	font-size: 2rem
}
.productdesbox {
	padding-top: 20px;
	text-align: center;
	padding-bottom: 30px
}
.productdesbox h1 {
	margin-top: 0
}
h1 {
	font-size: 2.2em;
	margin-bottom: 10px
}
h2 {
	font-size: 1.4em
}
.products h2 span {
	top: 0
}
.toggle-button {
	left: 0
}
.products ul li {
	padding: 0 10px
}
.header-top {
	padding: 5px 10px 10px 20px
}
#section2 img {
	width: 100%;
	padding: 0 15%;
	margin: auto
}
#section1 .products img {
	margin: 0 auto
}
.close-btn {
	right: 4px
}
.ImageBlock__videoWrapper {
	height: 320px!important
}
#lightbox-controls {
	right: 3px!important
}
.hm-banner {
	margin-top: 0
}
.copyright, .sociallinks {
	text-align: center
}
.sociallinks {
	margin-top: 15px;
	float: none!important
}
.product_desp {
	padding-top: 20px!important
}
#basket {
	position: absolute;
	right: 45px;
	top: 2px;
	opacity: .9
}
.products p span {
	font-size: 18px!important;
	line-height: 1.8
}
#tagline {
	top: -40%;
	width: 126%;
	text-align: center;
	margin-left: -12%
}
#tagline h1 {
	font-size: 1.8em
}
.specialfeature img {
	width: 60%!important;
	margin: 30px auto!important;
	display: block!important
}
.specialfeature {
	margin-top: 10px!important
}
}
.tooltipbox {
	margin-bottom: 30px
}
.tooltipbox img {
	width: 50px;
	margin-right: 10px
}
body {
	background: #fff
}
.short-animate {
	-webkit-transition: .7s ease-in-out;
	-moz-transition: .7s ease-in-out;
	-ms-transition: .7s ease-in-out;
	-o-transition: .7s ease-in-out;
	transition: .7s ease-in-out
}
.long-animate {
	-webkit-transition: .5s .5s ease-in-out;
	-moz-transition: .5s .5s ease-in-out;
	-ms-transition: .5s .5s ease-in-out;
	-o-transition: .5s .5s ease-in-out;
	transition: .5s .5s ease-in-out
}
.lightbox {
	position: fixed;
	top: 100%;
	bottom: -100%;
	left: 0;
	right: 0;
	overflow-Y: scroll;
	background: #fff;
	z-index: 99;
}
#lightbox-controls {
	position: absolute;
	height: 70px;
	width: 70px;
	opacity: 1;
	right: 0;
	z-index: 15;
	transition: opacity .8s ease-in-out .5s
}
#close-lightbox {
	display: block;
	position: absolute;
	overflow: hidden;
	height: 50px;
	width: 50px;
	text-indent: -5000px;
	right: 10px;
	top: 10px;
	background: url(img/close.png) no-repeat center center
}
.lightbox.maintarget, .lightbox.target {
	top: 0;
	bottom: 0;
	opacity: 1
}
.lightbox.target img {
	max-width: 100%;
	max-height: 100%
}
.lightbox #lightbox-controls #close-lightbox:after {
	width: 50px
}
.lightbox #lightbox-controls #close-lightbox:before {
	height: 50px
}
.wiggle {
	display: block;
	margin: 0 auto;
	text-align: center;
	z-index: 10;
	-webkit-animation: wiggle 3s cubic-bezier(.9, .2, .2, .9) infinite alternate
}
.wiggle img {
	transform: translate3d(0, 0, 0)
}
button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block
}
.first, .recessedproducts #surfaceproducts, .surfaceproducts #recessedproducts {
	display: none
}
.buttons {
	margin-top: 5px;
	width: 320px;
	text-align: center
}
.sidenav {
	height: 100%;
	min-height: 1200px;
	width: 0;
	position: absolute;
	z-index: 999;
	top: -10px;
	left: 0;
	background-color: rgba(255,255,255,.8);
	overflow-x: hidden;
	padding-top: 60px;
	transition: .5s
}
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: .3s
}
.sidenav a:hover {
	color: #bbb
}
.sidenav .closebtn {
	position: absolute;
	top: -18px;
	right: 18px;
	font-size: 60px;
	margin-left: 50px
}
#main {
	transition: margin-left .5s;
	padding: 20px
}
.downarrow img {
	width: 60px
}
@media screen and (max-height:450px) {
.sidenav {
	padding-top: 15px
}
.sidenav a {
	font-size: 18px
}
}
.sociallinks {
	float: right
}
.sociallinks li img {
	width: 30px
}
.popinnerdiv {
	width: 200px;
	height: 390px
}
img[src="img/51.jpg"] {
	max-width: 120px!important
}
img[src="img/52.jpg"] {
	max-width: 125px!important
}
img[src="img/53.jpg"] {
	max-width: 220px!important
}
.popupcontentbox::-webkit-scrollbar {
display:none
}
@media only screen and (min-device-width:1601px) {
.popupcontant .ImageBlock__videoWrapper {
	width: 65%;
	margin: auto
}
img[src="img/53a.jpg"] {
	display: block;
	margin: auto
}
#section1 .container.productdivsection {
	padding: 10% 15px
}
}
@media screen and (max-width:768px) {
.toggleimg {
	left: 108px!important
}
}
@media screen and (max-width:480px) {
img[src="img/51.jpg"] {
	max-width: 80px!important;
	margin-top: -10px;
	margin-right: -20px
}
img[src="img/52.jpg"] {
	max-width: 82px!important;
	margin-top: -10px;
	margin-left: -20px
}
img[src="img/53.jpg"] {
	max-width: 160px!important
}
.downarrow {
	position: absolute;
	bottom: 20px;
	margin: auto;
	text-align: center;
	width: 100%;
	display: block
}
.toggleimg {
	top: 0!important;
	left: 0!important
}
.sidenav {
	background-color: rgba(255,255,255,.9)
}
header .toplogo img {
	padding: 0
}
.header-top {
	padding: 5px 10px 10px 8px
}
}
@media only screen and (min-device-width:481px) and (max-device-width:1024px) and (orientation:landscape) {
.toggleimg {
	left: 0!important
}
}
@media only screen and (min-device-width:360px) and (max-device-width:640px) and (orientation:landscape) {
.toggleimg {
	left: 53px!important
}
}
.tooltipbox .tooltip {
	text-align: center!important
}
.tooltip {
	position: relative;
	opacity: 1
}
.tooltip a {
	opacity: 1;
	text-decoration: none;
	color: inherit
}
.tooltip_templates {
	display: block!important
}
.colorplate li {
	padding: 0 10px!important
}
.selectcolor {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	border: 1px solid #ccc;
	display: inline-block
}
.selectcolor, .selectcolor.selectcolor1 {
	background: #fff
}
.selectcolor.selectcolor2 {
	background: #fdfce6
}
.selectcolor.selectcolor3 {
	background: #fffecc
}
.signupboxcontent {
	margin-top: 60px
}
.signupboxcontent input {
	width: 100%;
	max-width: 320px;
	margin: 10px auto
}
.signupbox .btn, .signupbox input {
	background: #f5f5f5
}
.form-control {
	border: 1px solid #f9f9f9;
	box-shadow: none
}
.downlightsec {
	position: absolute;
	top: 35%;
	right: -5%
}
.lightbox h2 {
	color: #aaa
}
#section2 h1 {
	font-size: 2.4em;
	margin-bottom: 0
}
.lightonload {
	height: 600px;
	width: 100%;
	max-width: 500px;
	margin: auto;
	padding: 20px;
	position: relative;
	transform: translateX(-20px)
}
.toplogo {
	text-align: center;
}
.header-top {
	background: 0 0;
	transition: all 1.4s ease-in-out
}
.header-top.showmenu {
	background: #fff
}
.toplogocenter {
	transform: translate(-50%, 50vh)
}
@media screen and (max-width:480px) {
.signupbox {
	padding-bottom: 150px
}
.copyright {
	text-align: center;
	font-size: 12px
}
.hm-banner {
	margin-top: 70%
}
#section0 .container {
	min-height: 650px!important
}
.header-top {
	height: 70px
}
#section2 h1 {
	font-size: 1.5em;
	line-height: 1.2
}
#section2 h2 {
	font-size: 1.5em;
	margin-bottom: 10px
}
#section2 h3 {
	font-size: 1em;
	margin-bottom: 2em
}
.downlightsec {
	top: 65%;
	right: 0;
	width: 100%;
	padding: 15px
}
.downlightsec p {
	font-size: 14px
}
iframe, img[src="img/53a.jpg"] {
	width: 100%
}
.popupcontentbox h1 {
	margin-top: 0;
	text-align: center
}
.lightonload {
	height: 400px
}
.winnerbox {
	text-align: center!important
}
.descriptionbox .btn.videobtn {
	margin-top: 15px!important
}
.pad30 {
	padding-right: 30px
}
.hm-banner [class*=corvibox-] h4 {
	font-size: 2rem
}
#tagline {
	top: -38%;
	width: 126%;
	text-align: center;
	margin-left: -12%
}
#tagline h2 {
	font-size: 2.2em
}
.toplogocenter {
	left: 0;
	transform: none
}
.tooltipbox img {
	margin-right: 10px!important
}
.corvibox-tube {
	width: 300px;
	margin: auto;
	left: 15%
}
.corvibox-tube img {
	width: 100%;
	padding: 15px
}
.corvibox-tube.active {
	transform: scale(1) translate3d(-25.5%, 350%, 0)
}
.banner1 {
	background-image: url(img/hm/m/111.jpg)!important
}
.banner2 {
	background-image: url(img/hm/m/112.jpg)!important
}
.banner3 {
	background-image: url(img/hm/m/113.jpg)!important
}
}
.ImageBlock__videoWrapper {
	position: relative;
	top: 0;
	will-change: transform;
	overflow: visible;
	background-color: #fff;
	transition: transform 50ms;
	transition: transform 50ms, -webkit-transform 50ms;
	width: 100%;
	height: 470px
}
.ImageBlock__videoWrapper video {
	width: 125%!important;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: relative;
	top: 50%;
	left: -13%
}
.fp-slidesContainer {
	width: 100%!important;
	transform: none!important
}
.fp-slide {
	width: 100%!important;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 0;
	transition: all 1.2s ease-in-out
}
.fp-slide.active {
	visibility: visible;
	opacity: 1;
	z-index: 1
}
@media screen and (min-width:320px) and (max-width:480px) {
.lightbox {
	overflow: auto!important
}
}
.myVideo {
	width: 100%;
}
.descriptionbox, .swipe img, .swipe2 img, .swipe3 img {
	text-align: center;
	position: relative;
	z-index: 999
}
.inrimg {
	width: 15px
}
.dividerline {
	display: inline-block;
	font-size: 30px;
	color: #ececec;
	margin: 0 5px
}
.descriptionbox .btn {
	color: inherit!important;
	padding: 8px 24px;
	line-height: 1;
	position: relative;
	top: -5px;
	text-decoration: none!important
}
.videoicon {
	color: #aaa;
	font-size: 20px;
	position: absolute;
	left: 15px;
	top: 6px
}
.descriptionbox .btn.videobtn {
	padding: 8px 15px 8px 40px
}
.documentdownload {
	margin-top: 20px
}
.documentdownload a {
	color: #333
}
.documentdownload a:hover {
	text-decoration: none
}
.swipeDown, .swipeDown2, .swipeDown3 {
	position: fixed;
	width: 100%;
	height: 20%;
	z-index: 9;
	text-align: center;
	opacity: 1;
	display: none
}
.swipeDown2, .swipeDown3 {
	z-index: 12
}
.swipe, .swipe2, .swipe3 {
	background: #dcdcdc;
	padding-top: 5%
}
.swipe img, .swipe2 img, .swipe3 img {
	display: inline-block;
	margin: 0 auto;
	z-index: 10;
	-webkit-animation: swipedown .8s ease infinite alternate
}
.slider1 {
	width: 100%;
	height: 100%;
	margin-top: 0;
	overflow-y: scroll;
	background-color: #fff;
	transition: all 1s;
	z-index: 5
}
.slider1.close {
	margin-top: 100%;
	height: 0
}
.btn-default.active, .btn-default:focus, .btn-default:hover {
	background-color: #fff;
	text-decoration: none;
	border-color: #ccc
}
.documentdownload a, .documentdownload a:focus, .documentdownload a:hover {
	text-decoration: none
}
.winneraward {
	height: 80px;
	margin-top: 15px
}
.winnerbox {
	width: 100%;
	max-width: 470px;
	text-align: left;
	margin: auto
}
.close-video {
	position: absolute;
	top: 20px;
	right: 25px
}
.wiggle {
	position: absolute;
	bottom: 0;
	width: 100%
}
.ybox {
	position: fixed;
	top: 100%;
	bottom: -100%;
	left: 0;
	right: 0;
	overflow-Y: scroll;
	background: #000;
	z-index: 5
}
.ybox:target {
	top: 0;
	bottom: 0;
	opacity: 1
}
.ybox:target img {
	max-width: 100%;
	max-height: 100%
}
div#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100vw!important;
	height: 100vh;
	overflow: hidden;
	background: #fff url(./img/logos/CorviLogo.svg) no-repeat center center
}
.corvipreload {
	display: block;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 10;
	-webkit-animation: corvipreload 3s cubic-bezier(.9, .2, .2, .9) infinite alternate
}
.awarddiv {
	padding: 60px
}
#section3 .container {
	padding-top: 20px
}
.owl-theme .owl-controls {
	margin-top: -20px;
	z-index: 9;
	text-align: center;
	position: relative
}
.awardbtn {
	margin-top: 15px
}
#section2 h1, .hm-banner [class*=corvibox-] {
	text-transform: none
}
.ImageBlock__videoWrapper video.videoposter {
	width: 100%!important;
	left: 0
}
#awarddiv .awarddiv {
	padding: 30px 60px
}
#awarddiv hr {
	border: 0;
	border-top: 1px solid #e5e5e5;
	margin: 30px 60px
}
.btn.awardbtn {
	background: #f5f5f5
}
.btn.awardbtn:hover {
	background: #fff
}
.corvipopupcontent .popupcontentbox ul {
	padding-left: 3px
}
.corvipopupcontent .popupcontentbox ul li {
	list-style: none
}
a.svg:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}
.corvi-svglogo {
	opacity: .7
}
.corvi-svglogo object {
	width: 200px;
	position: relative;
	margin: 5px
}
.tooltipster-sidetip .tooltipster-box {
	background: #fff;
	min-height: initial;
	border: 1px solid #e5e5e5;
	border-radius: 10px;
	padding: 20px;
	margin: auto 15px;
	box-shadow: 0 0 100px #ccc
}
#close-lightbox, .close-btn, .close-video {
	opacity: .4;
	transition: all .7s ease-in-out
}
#close-lightbox:hover, .close-btn:hover, .close-video:hover {
	opacity: 1
}
@media screen and (max-width:480px) {
.descriptionbox .btn.videobtn {
	margin-top: 0!important
}
.awarddiv {
	padding: 15px
}
.awarddiv img {
	width: 100%
}
.ImageBlock__videoWrapper {
	height: 53vh!important
}
.descriptionbox h3, .documentdownload a:first-child {
	display: block
}
.descriptionbox h3+.dividerline {
	display: none
}
.documentdownload a:first-child+span.dividerline {
	display: none
}
#tagline {
	top: -60%
}
.product_desp {
	position: static!important
}
.corvipopupcontent {
	padding-top: 20%
}
.popupcontentbox h2 {
	margin-top: 0
}
.popupcontentbox h1 {
	position: absolute;
	left: 0;
	width: 100%;
	top: 10px;
	margin-top: 0;
	z-index: 999
}
.descriptionbox {
	position: static
}
.popupcontant.corvipopupcontent .row>div {
	position: static;
	margin-top: 0
}
.ImageBlock__videoWrapper video.videoposter {
	width: 130%!important;
	left: -15%
}
.ImageBlock__videoWrapper video {
	top: 58%
}
.corvi-svglogo object {
	width: 150px
}
#section3 .container {
	padding-top: 100px
}
.descriptionbox .btn {
	padding: 8px 16px
}
.products ul li {
	font-size: 14px
}
.hm-banner {
	margin-top: 38%
}
#section0 .container {
	min-height: 250px!important
}
.specialfeature img {
	width: 80%!important
}
div#preloader {
	background: #fff url(./img/logos/CorviLogomobile.svg) no-repeat center 45%
}
}
.youtube-player {
	position: relative;
	padding-bottom: 56.23%;
	height: 100vh;
	overflow: hidden;
	max-width: 100%;
	background: #000;
	margin: 5px
}
.youtube-player iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: 0 0
}
.youtube-player img {
	bottom: 0;
	display: block;
	left: 0;
	margin: auto;
	max-width: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	border: 0;
	height: auto;
	cursor: pointer;
	-webkit-transition: .4s all;
	-moz-transition: .4s all;
	transition: .4s all
}
.youtube-player img:hover {
	-webkit-filter: brightness(75%)
}
.youtube-player .play {
	height: 72px;
	width: 72px;
	left: 50%;
	top: 50%;
	margin-left: -36px;
	margin-top: -36px;
	position: absolute;
	background: url(//i.imgur.com/TxzC70f.png) no-repeat;
	cursor: pointer
}
.mainpopup {
	text-decoration: none!important;
	color: inherit!important
}
.maintarget {
	animation: 1s ease-out 0s 1 slideInFromBottom
}
.error{
	color:#ad0202;
	width:95%;
	text-align:left;
}
Show transformations Original:   33296 bytes
